{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="register">
    <h1>Сброс вашего пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите свой новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому что ею
            уже воспользовались. Запросите новый сброс пароля.</p>
    {% endif %}
</div>
{% endblock %}