{% extends "base.html" %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-5">
          <div class="card  text-black rad">
            <div class="row g-0 text-center">
              <div class="">
                <div class="card-body p-md-5 mx-md-4">
    <h1>Забыли свой пароль?</h1>
    <p>Введите свой адрес электронной почты, чтобы получить новый пароль.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Отправить"></p>
        {% csrf_token %}
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}