{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/stylenav.css' %}"> {% endblock %} {% block title %}Создание нового аккаунта{% endblock %} {% block content %}
<div class="register">
    <h1 class="h2 mb-3 fw-normal">Создать новый аккаунт</h1>
    <p>Пожалуйста, зарегистрируйтесь, используя следующую форму или вернитесь на страницу <a href="{% url 'login' %}">авторизации</a></p>
    <form action="." method="post">
        {{ user_form.as_p }} {% csrf_token %}
        <p><input class="btn btn-outline-dark mb-3" style="margin-top: 10px;" type="submit" value="Создать"></p>
    </form>
    
</div>
{% endblock %}