{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/block_scan.css'%}">{% endblock %} {% block info %} {% csrf_token %}
<div class="dropdown-advanced">
    <div class="options-selected dropdown-advanced-fire-action">
        Выберете значения для постоянного сканирования <span class=""></span>
    </div>
    <div class="closed container-elements">
        <input type="text" value="" placeholder="Search..." class="search-button"> {% csrf_token %}
        <div class="order-option select-all-option-container">
            <label><input class="select-all-option" type="checkbox">Select/Deselect All</label>
        </div>
        <div class="order-option re-order-filter" data-action="asc">
            Sort A To Z
        </div>
        <div class="order-option re-order-filter" data-action="desc">
            Sort Z To A
        </div>
        <form method="post" id="data">
            <ul>
                {% for foo in block_info %}
                <li><label><input data-id="0" class="item-option" value="{{foo.input}}" type="checkbox" name='checkbox' >{{foo.input}}/{{foo.mask}}</label></li>
                <!-- {% if model_is_confirm %} checked='checked' {% endif %} -->
                {% endfor %}
            </ul>
        </form>
    </div>
    <div class="container-buttons closed" align="center">
        <button type='submit' class="accept btn-dark btn">Accept</button>
        <button class="cancel btn-dark btn">Cancel</button>
    </div>
</div>


<div class="echo"></div>
{% endblock %} {% block script %}
<script>
    var csrf_token = '{{csrf_token}}'
</script>
<script src="{% static 'block_scan.js' %}"></script>
{% endblock script %}