{% extends "base.html" %} {% load static %} {% block title %}Авторизация{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'css/style_login.css' %}">

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-5">
                <div class="card  text-black rad">
                    <div class="row g-0 text-center">
                        <div class="">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="https://static1-repo.aif.ru/1/01/1013169/177651894aef5af2f455be1c81de13b3.jpeg" style="width: 185px;" alt="logo" class="mt-1 mb-5 pb-1">
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <p>Пожалуйста, войдите в свою учетную запись:</p>
                                    <div class="form-outline mb-4">
                                        {{ form.username }} {% comment %} <input type="text" name='username' id="form2Example11" class="form-control" placeholder="Имя пользователя" /> {% endcomment %}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form.password }} {% comment %} <input type="password" name='password' id="form2Example22" class="form-control" placeholder="Пароль" /> {% endcomment %}
                                    </div>
                                    <strong style='color: red;'><p>{{error}}</p></strong>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-outline-dark mb-3" type="submit">Авторизоваться</button>
                                        <a class="text-muted" href="{% url 'password_reset' %}">Забыли пароль?</a>
                                    </div>
                                </form>
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Не имеете аккаунта?</p>
                                    <a class="btn btn-outline-dark" href="{% url 'register' %}">Создать новый</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script %}
<script>
    $(document).ready(function() {
        $('#id_username').addClass('form-control');
        $('#id_username').attr('placeholder', 'Имя пользователя');
        $('#id_password').addClass('form-control');
        $('#id_password').attr('placeholder', 'Пароль');
        console.log(1)
    })
</script>
{% endblock script %}