{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %} {% block info %}
<a class="btn btn-danger" href="{% url 'group'%}">Выбор значений для постоянного сканирования</a>
<section class="FlexContainer">
    {% for foo in name %}
    <div class="cont">
        <ul class="">
            <li class="text-end">
                <form action="{% url 'main' foo.pk %}" method="post" class="form-reboot">
                    {% csrf_token %}
                    <button type="submit" name="delete_address"><i class='bx bx-x mt-2'></i></button>
                </form>
            </li>
            <li class="">
                <p>Name: {{ foo.name }}</p>
            </li>
            <li class="">
                <p>Address: {{ foo.input }}/{{ foo.mask }}</p>
            </li>
            <li class="">
                <p><a class="btn btn-primary" href="{% url 'hostinfo' foo.pk %}">Смотреть информацию</a></p>
            </li>
        </ul>
    </div>
    {% endfor %}
</section>
{% endblock %}